<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
          connectionString="Data Source=megamediamanager.database.windows.net;Initial Catalog=MegaMediaManager;Integrated Security=False;User ID=tannis;Password=m0nk3y b4tt3rY;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>